<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="./style2.css">

    <title>Weather API</title>

    <style>

    </style>
</head>
<body>
<main>
    <section>
        <div class="container">
            <header>
                <h1>Weather forecast</h1>
            </header>

            <form th:action="@{/change_city}" th:object="${weatherAtr}" method="post">
                <div class="enter_city_bar">
                    <label>Enter city name:</label>
                    <div class="entering_set">
                        <input type="text" id="textField" th:field="*{city}">
                        <input type="submit" value="change">
                    </div>

                </div>

                <div th:each=" datum : ${weatherAtr.getForecastDatum()}">

                    <div class="days">
                        <div class="date" th:text="${datum.getDatetime()}"></div>
                        <div th:text="${datum.getTemp()}+'&#730'+'C'"></div>
                        <div><img
                                th:src="${'https://www.weatherbit.io/static/img/icons/' + datum.getWeather().getIcon() + '.png'}"
                                alt="can't find image" width="100" height="100"/>
                        </div>
                        <div th:text="${datum.getWeather().getDescription()}"></div>
                        <div th:text="${datum.getSlp()+' hPa'}"></div>
                        <div th:text="${datum.getWindCdir()}"></div>
                        <div th:text="${datum.getWindSpd()+' km/h'}"></div>
                        <div th:text="${datum.getMinTemp()+' - '+datum.getMaxTemp()+'&#730'+'C'}"></div>
                    </div>
                </div>
            </form>

            <footer>
                <a href="https://www.weatherbit.io" target="_blank"></a>
            </footer>
        </div>
    </section>
</main>
</body>

</html>